.headingFont {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 2%;
}
.subHeadingFont {
  font-size: 2rem;
  color: #cc005f;
  padding: 1%;
  text-align: center;
}
.cardStyles {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
#container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

/* ///////////////// NAV MENU STYLES ///////////////////////////////// */

nav {
  background: #333;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav a {
  text-decoration: none;
  text-align: center;
  color: pink;
  display: block;
  padding: 2%;
  margin: 4%;
  font-size: 2rem;
}
nav a:hover {
  background-color: #555;
}
@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
  nav li {
    flex: 1 1 0;
  }
}

/* ///////////////// BANNER STYLES ///////////////////////////////// */

.banner {
  position: relative;
}
.banner-image {
  width: 100%;
}

/* ///////////////// ABOUT STYLES ///////////////////////////////// */

@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Dancing Script Regular"), local("DancingScript-Regular"),
    url(https://fonts.gstatic.com/s/dancingscript/v11/If2RXTr6YS-zF4S-kcSWSVi_szLgiuQ.ttf)
      format("truetype");
}
.top-about-column h1 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 2%;
}
.intro-info {
  display: flex;
}
@media (max-width: 896px) {
  .intro-info {
    flex-direction: column;
  }
}
.lead {
  font-size: 2rem;
  padding: 6%;
}
.profile-image {
  border-radius: 50%;
  width: 15%;
  margin: 2%;
}
@media (max-width: 1180px) {
  .profile-image {
    width: 17%;
  }
}
@media (max-width: 1002px) {
  .profile-image {
    width: 20%;
  }
}
@media (max-width: 898px) {
  .profile-image {
    width: 25%;
  }
}
@media (max-width: 896px) {
  .profile-image {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ///////////////// SKILLS STYLES ///////////////////////////////// */

.resume-div h5 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 2%;
}
.pink-section {
  background: pink;
}
.list {
  list-style-image: url(../images/heart.png);
  padding-left: 10%;
  padding-bottom: 15px;
}
.list li {
  margin-bottom: 15px;
  font-size: 20px;
}
.list-area {
  display: flex;
}

/* ///////////////// PORTFOLIO STYLES ///////////////////////////////// */

.portfolio-div {
  width: 100%;
}

.portfolio-div h5 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 2%;
}
.portfolio-div h1 {
  font-size: 2rem;
  color: #cc005f;
  padding: 1%;
  text-align: center;
}
.maincontainer {
  width: 100%;
  margin: 15px;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.card {
  cursor: pointer;
  position: relative;
  width: 425px;
  height: 500px;
  transform-style: preserve-3d;
  transition: 0.8s ease-in;
}
.card:hover {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: 2px dashed pink;
}
.front img {
  height: 100%;
}
.back h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 2%;
  color: #cc005f;
}
.back p {
  padding: 20px;
  font-size: 20px;
}

/* ///////////////// ICON STYLES ///////////////////////////////// */

.links {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}
.links a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #cc005f;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50%;
}
.links a:hover {
  background: white;
  color: pink;
}

/* ///////////////// CONTACT STYLES ///////////////////////////////// */

.contact-div h5 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 2%;
}
.contact-div h1 {
  font-size: 2rem;
  color: #cc005f;
  padding: 1%;
  text-align: center;
}

/* ///////////////// FOOTER STYLES ///////////////////////////////// */

footer {
  text-align: center;
  padding: 2%;
  background: lightgray;
}
